<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1vRCQzJpZZ4SkHmSqgQ0k_xZu3zpp0FI</string>
	<key>GCM_SENDER_ID</key>
	<string>115831598819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.woochat</string>
	<key>PROJECT_ID</key>
	<string>woochat-itgqwy</string>
	<key>STORAGE_BUCKET</key>
	<string>woochat-itgqwy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115831598819:ios:8c18f8ec6dbe0d7fc99fd6</string>
</dict>
</plist>